* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    /* width: 100%; */
    font-family: 'Lexend Deca', sans-serif;
}

/* .container{
    height: 100%;
} */

.row {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.qwer{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    padding: 40px 0;
    color: hsl(0, 0%, 95%);
}

.sedd {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 18px;
    line-height: 30px;
    /* padding-right: 50px; */
    color: hsla(0, 0%, 100%, 0.75);
    height: 270px;
}

.col1 {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
    /* max-height: 600px; */
}

.col2 {
    background-color: hsl(184, 100%, 22%);
}

.col3 {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.butt1, .butt2, .butt3 {
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    background-color: white;
    margin-top: 25px;
    font-size: 15px;
}

.butt1 {
    color: hsl(31, 77%, 52%);
}

.butt2 {
    color: hsl(184, 100%, 22%);
}

.butt3 {
    color: hsl(179, 100%, 13%);
}

:hover.butt1, :hover.butt2, :hover.butt3{
    border: 2px solid white;
    color: white;
}

:hover.butt1{
    background-color: hsl(31, 77%, 52%);
}

:hover.butt2 {
    background-color: hsl(184, 100%, 22%);
}

:hover.butt3 {
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 767px) {
    .row{
        margin-bottom: 50px !important;
    }

    .col1 {
        border-radius: 10px 10px 0 0;
    }
    
    .col3 {
        border-radius: 0 0 10px 10px;
    }

    .sedd {
        height: 180px;
    }

    .butt1, .butt2, .butt3 {
        margin-top: 20px;
    }
}
